
# User-specific files
*.suo
*.user
*/*.user
*.sln.docstates
**/.idea

# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
x64/
build/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Enable "build/" folder in the NuGet Packages folder since NuGet packages use it for MSBuild targets
!packages/*/build/
bin
.vscode
obj

# MSTest test Results
[Tt]est[Rr]esult*/
[Bb]uild[Ll]og.*
